.sort-filter {
  opacity: 0.90;
  padding: 1em;
  background-color: white;
  border: 2px solid black;
  border-radius: 16px;
  position: absolute;
  top: 10em;
  left: 2em;
}

/**************************************************/

.beer-shelf {
  padding-bottom: 3.8em;
  background: url(../images/shelf3.png) no-repeat;
  background-position: bottom;
}

.beer-scroll-grid {
  /* moves the scrollbar down 3.50em */
  padding-bottom: 3.50em;
  margin-bottom: -3.50em;

  display: grid;
  grid-template-columns: repeat(50, 15em);
  overflow-x: scroll;
}

.item {
  height: 17.30em;
  background-size: 4em;
  background-repeat: no-repeat;
  background-position: bottom;
}

#showBeer img {
  width: 4em;
}

#close-showBeer {
  color: rgba(50,50,50, 20%);
  cursor: pointer;
}

#close-showBeer:hover {
  color: rgb(0,0,0);
}

#showBeer-labels {
  text-align: right;
  margin-top: 2em;
}
#showBeer-labels #heart{
  color: red;
  font-size: 1.2em;
}
#showBeer-labels #reviews{
  color: blue;
  font-size: 1.2em;
}

#showBeer-values {
  text-align: left;
  margin-top: 2em;
}
